.DS_Store
.idea
*.log
*.env
tmp/
.envrc
.envrc.*
.dir-local.el
.dirlocals.el
.projectile
credentials.json
demo.db
./db/db
.gocache/
.modcache/
coverage.out
.kcp/
.npm-cache/
.config/
bin/
podman-compose.yml
maintainerd
maintainerd*.db
maintainerd*.dump
maintainerd*.dump.bak
maintainers.db
web/maintainerd-prod.dump
web/maintainerd-prod.sql
BRAG.org
OPS.org
fossa-todo.org
k-get-maintainers.txt
kubectl-commands.md
Checking
Done.
Dumping
Ensuring
Verifying
Waiting
testdata/
web/work/testdata/
cmd/web-bff/testdata/
web/testdata/
web/**/testdata/
.next/
./testdata/
