apiVersion: v1
kind: Secret
metadata:
  name: maintainerd-server-env
  namespace: maintainerd
type: Opaque
stringData:
  GITHUB_API_TOKEN: ${GITHUB_API_TOKEN}
  GITHUB_WEBHOOK_SECRET: ${GITHUB_WEBHOOK_SECRET}
  LFX_AUTH_TOKEN: ${LFX_AUTH_TOKEN}
